<?xml version="1.0"?>
<lablims>
    <config>
        <JDBC_HOST>VU4xV1MxQ1E=</JDBC_HOST>
        <JDBC_PORT>NTQzMg==</JDBC_PORT>
        <JDBC_DATA>ZGJfbGFibGltcw==</JDBC_DATA>
        <JDBC_USER>ZGJfc3lz</JDBC_USER>
        <JDBC_PASSWORD>cEBzc3cwcmQ=</JDBC_PASSWORD>
        <VERSION>2.0.0.0.0</VERSION>
    </config>
</lablims>