<?xml version="1.0"?>
<lablims>
    <config>
        <JDBC_HOST>bG9jYWxob3N0</JDBC_HOST>
        <JDBC_PORT>NjAzMA==</JDBC_PORT>
        <JDBC_DATA>ZGJfbGFibGltcw==</JDBC_DATA>
        <JDBC_USER>ZGJfc3lz</JDBC_USER>
        <JDBC_PASSWORD>QmVhc3Q2NjY=</JDBC_PASSWORD>
        <VERSION>1.9.3.0.0</VERSION>
    </config>
</lablims>